{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="navbar-header"
      style="font-family: 'Dancing Script', cursive; text-decoration: none; font-weight: bold; align-items: center;" >
      <a href=""><img src="https://img.icons8.com/ios/50/000000/instagram-new--v2.png" /></a>
      <p style="font-size: 25px;" class="navbar-brand" href="{%url 'index' %}">Instagram</p>
    </div>
      {% if form.errors %}
        <p> Enter the correct Username or password </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form  action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">
            <p class="container">You don't have an account? <button class="btn btn-primary btn-md"><a href="/accounts/register" style="color: antiquewhite;">  Sign Up</a></button></p>

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}